* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-image: url("ocean2.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    background: rgba(255,255,255,0.5);
    padding: 30px;
    border-radius: 20px;
    width: 320px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h2 {
    margin-bottom: 20px;
    color: #0072ff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: #00a8a8;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #0072ff;
}

p {
    margin-top: 15px;
}

a {
    color: #0072ff;
    text-decoration: none;
}